body {
  font-family:"Verdana";
}

.table {
  width:650px;
}

h1 {
  color:green;
  text-align:center;
}

.glossary {
  border-style:solid;
  border-collapse:collapse;
  border-width:2px;
  border-color:blue;
}

th {
  border-width:1px;
  border-style:dashed;
}

td {
  border-width:1px;
  border-style:dashed;
}
